<a href="https://colab.research.google.com/github/pranshumalik14/intuitive-arm-reach/blob/main/notebooks/planar_n_dof_training_datagen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import re
from ast import literal_eval

In [2]:
df = pd.read_csv('../training_data/sample_training_data_2D.csv')
df.head(5)

,init_joint_angles,x_target,y_target,Theta,iter_count,cost
0,[ 0.53623095 -2.44887214],0.600000,0.000000,[[-3.48573555 2.92546685]\n [-1.0769412 0.7...,34,17.730630
1,[ 0.53623095 -2.44887214],0.459627,0.385673,[[-3.34089464 4.27195985]\n [-1.22788073 1.0...,15,0.053109
2,[ 0.53623095 -2.44887214],0.104189,0.590885,[[-4.13915419 4.76762425]\n [-2.04968351 2.3...,26,11.319121
3,[ 0.53623095 -2.44887214],-0.300000,0.519615,[[-5.03009515 5.05886301]\n [-2.98740589 2.6...,10,32.716189
4,[ 0.53623095 -2.44887214],-0.563816,0.205212,[[-5.60947522 6.06348489]\n [-4.42397733 2.4...,18,28.291913

In [3]:
# This training data is for the following robot
# robot_arm = rb.RobotArm2D(
#     n_dims = 3,
#     link_lengths=np.array([0.4, 0.5, 0.1])
# )

# TODO: probably export robot info in another CSV

In [4]:
df.dtypes

init_joint_angles     object
x_target             float64
y_target             float64
Theta                 object
iter_count             int64
cost                 float64
dtype: object

In [5]:
# Issue is that init_joint_angles and Theta are strings. (Check the CSV to understand more)
# It is imperative to first convert those strings into numpy arrays

In [6]:
df['init_joint_angles'].values[0]

'[ 0.53623095 -2.44887214]'

In [7]:
def extract_array_from_string(s):
    x = literal_eval(','.join(re.sub(r'(?<=\d)(\s+)(?=-?\d)', ',', s).splitlines()))
    return np.array(x)

In [8]:
df['init_joint_angles'] = df['init_joint_angles'].apply(extract_array_from_string)
df['Theta'] = df['Theta'].apply(extract_array_from_string)

In [9]:
print(type(df['init_joint_angles'].values[0]))
print(type(df['Theta'].values[0]))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [10]:
df['Theta'].values[0]

array([[-3.48573555,  2.92546685],
       [-1.0769412 ,  0.71726378],
       [-0.09194794, -1.96637198],
       [-0.30857397, -1.11163421],
       [-0.64960408,  1.21820904]])

In [11]:
df.head(5)

,init_joint_angles,x_target,y_target,Theta,iter_count,cost
0,"[0.53623095, -2.44887214]",0.600000,0.000000,"[[-3.48573555, 2.92546685], [-1.0769412, 0.717...",34,17.730630
1,"[0.53623095, -2.44887214]",0.459627,0.385673,"[[-3.34089464, 4.27195985], [-1.22788073, 1.06...",15,0.053109
2,"[0.53623095, -2.44887214]",0.104189,0.590885,"[[-4.13915419, 4.76762425], [-2.04968351, 2.32...",26,11.319121
3,"[0.53623095, -2.44887214]",-0.300000,0.519615,"[[-5.03009515, 5.05886301], [-2.98740589, 2.65...",10,32.716189
4,"[0.53623095, -2.44887214]",-0.563816,0.205212,"[[-5.60947522, 6.06348489], [-4.42397733, 2.47...",18,28.291913

## Data Descriptors
- Init joint angles: Joint configuration at time 0 of robot links
- x_target, y_target: desired target point on the plane for the end effector 
- Theta: output of the PIBB matrix (trained Theta)
- iter_count: (optional) number of iterations it took PIBB to reach to the final Theta
- Cost: (optional) cost function evaluated for this Theta 

Note: 
- this data is only for a specific 2D (planar) robot
- The last two params could be used for the interpolation algorithm (should prefer lower iter_count or cheaper cost)