<a href="https://colab.research.google.com/github/pranshumalik14/intuitive-arm-reach/blob/main/notebooks/planar_n_dof_training_datagen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import pandas as pd
import numpy as np
import re
from ast import literal_eval

In [76]:
df = pd.read_csv('../training_data/sample_data_new.csv')
df.head(5)

,init_joint_angles,x_target,y_target,Theta,iter_count,cost
0,[-1.2788356 0.75979713 0.48106151],4.000000e-01,0.000000e+00,[[-1.25566091 -1.88466093 0.1325742 ]\n [-1.9...,12,8.616780
1,[-1.2788356 0.75979713 0.48106151],2.449294e-17,4.000000e-01,[[-2.42836445 0.41586429 0.68511504]\n [ 0.3...,12,8.707490
2,[-1.2788356 0.75979713 0.48106151],-4.000000e-01,4.898587e-17,[[-0.90414777 -1.70484533 -2.02097261]\n [-2.2...,35,8.384756
3,[-1.2788356 0.75979713 0.48106151],-7.347881e-17,-4.000000e-01,[[-2.28722636 -1.56901604 0.56305501]\n [-2.1...,22,8.505960
4,[-1.2788356 0.75979713 0.48106151],4.000000e-01,-9.797174e-17,[[-0.99497 -1.13759018 0.77086882]\n [-0.8...,12,8.642644

In [77]:
# This training data is for the following robot
# robot_arm = rb.RobotArm2D(
#     n_dims = 3,
#     link_lengths=np.array([0.4, 0.5, 0.1])
# )

# TODO: probably export robot info in another CSV

In [78]:
df.dtypes

init_joint_angles     object
x_target             float64
y_target             float64
Theta                 object
iter_count             int64
cost                 float64
dtype: object

In [ ]:
# Issue is that init_joint_angles and Theta are strings. (Check the CSV to understand more)
# It is imperative to first convert those strings into numpy arrays

In [79]:
df['init_joint_angles'].values[0]

'[-1.2788356   0.75979713  0.48106151]'

In [80]:
def extract_array_from_string(s):
    x = literal_eval(','.join(re.sub(r'(?<=\d)(\s+)(?=-?\d)', ',', s).splitlines()))
    return np.array(x)

In [81]:
df['init_joint_angles'] = df['init_joint_angles'].apply(extract_array_from_string)
df['Theta'] = df['Theta'].apply(extract_array_from_string)

In [82]:
print(type(df['init_joint_angles'].values[0]))
print(type(df['Theta'].values[0]))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [83]:
df['Theta'].values[0]

array([[-1.25566091, -1.88466093,  0.1325742 ],
       [-1.95956735,  0.45326746,  0.05597064],
       [-0.55607405, -0.3810749 ,  0.29270251],
       [ 0.00986745, -0.36100487, -0.71750806],
       [-1.35355625, -0.88906432, -0.4074249 ],
       [ 0.05787   , -0.20156946, -0.00510643],
       [-1.20210683,  0.20209624,  0.04830232],
       [-0.74566877,  1.06609654, -0.43252459],
       [ 1.01520413,  0.45984508,  0.1805191 ],
       [ 0.28111451,  0.66118582,  0.12823555]])

In [84]:
df.head(5)

,init_joint_angles,x_target,y_target,Theta,iter_count,cost
0,"[-1.2788356, 0.75979713, 0.48106151]",4.000000e-01,0.000000e+00,"[[-1.25566091, -1.88466093, 0.1325742], [-1.95...",12,8.616780
1,"[-1.2788356, 0.75979713, 0.48106151]",2.449294e-17,4.000000e-01,"[[-2.42836445, 0.41586429, 0.68511504], [0.364...",12,8.707490
2,"[-1.2788356, 0.75979713, 0.48106151]",-4.000000e-01,4.898587e-17,"[[-0.90414777, -1.70484533, -2.02097261], [-2....",35,8.384756
3,"[-1.2788356, 0.75979713, 0.48106151]",-7.347881e-17,-4.000000e-01,"[[-2.28722636, -1.56901604, 0.56305501], [-2.1...",22,8.505960
4,"[-1.2788356, 0.75979713, 0.48106151]",4.000000e-01,-9.797174e-17,"[[-0.99497, -1.13759018, 0.77086882], [-0.8180...",12,8.642644

## Data Descriptors
- Init joint angles: Joint configuration at time 0 of robot links
- x_target, y_target: desired target point on the plane for the end effector 
- Theta: output of the PIBB matrix (trained Theta)
- iter_count: (optional) number of iterations it took PIBB to reach to the final Theta
- Cost: (optional) cost function evaluated for this Theta 

Note: 
- this data is only for a specific 2D (planar) robot
- The last two params could be used for the interpolation algorithm (should prefer lower iter_count or cheaper cost)